<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.MobileCloudAV_AndroidClient" version="1.0.0">
    <name>MobileCloudAV_AndroidClient</name>
    <description>Cordova Application</description>
    <author email="post@ehsunbehravesh.com" href="http://www.ehsunbehravesh.com">ehsun7b</author>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
</widget>
